//-
    options.label - label для основного input (string)
    options.inputName - name основного поля (string)
    options.items - (array)
      options.items[0].title - заголовок (string)
      options.items[0].inputName - название для input (string)
      options.items[0].value - количество (string)

include ../input/input

mixin dropdown(options = {})
  - if (!options.items) options.items = [];

  .dropdown.js-dropdown
    +input({label: options.label,
            name: options.inputName,
            placeholder: options.placeholder,
            required: true,
            dropdown: true,
            value: options.totalValue
          })
    .dropdown__content
      each item in options.items
        .dropdown__item
          .dropdown__title= item.title
          .dropdown__controls
            span.dropdown__button(data-action="minus") -
            input.dropdown__value(type="text" name= item.inputName value=item.value readonly)
            span.dropdown__button(data-action="plus") +

      .dropdown__menu
        span.dropdown__menu-button.dropdown__menu-button_inverted(data-action="clear") oчистить
        span.dropdown__menu-button(data-action="apply") применить