.dropdown {
  position: relative;
  width: 100%;

  &__label {
    @include small-subtitle;
    display: block;
    width: 100%;
  }

  &__field-wrapper {
    display: block;
    position: relative;
    margin-top: rem(5px);
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    height: rem(44px);
    padding: 0 rem(30px) 0 rem(14px);
    @include text;
    border: $light-border;
    border-radius: $border-radius;
    outline: none;
    cursor: pointer;
    user-select : none;

    &::placeholder {
      color: $dark-color-op25;
      @include font-rem(14, 18, normal);
    }

    &:hover, &:focus {
      border: $bold-border;
    }

    &_expanded {
      border: $bold-border;
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(44px);
    height: rem(44px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color-op50;
    cursor: pointer;
    user-select: none;
  }

  &__content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 rem(6px) rem(13px) rem(14px);
    border: $bold-border;
    box-shadow: $thin-shadow;
    border-radius: 0 0 4px 4px;
    @include small-subtitle();
    background: #fff;
    position: absolute;
    display: none;
    z-index: 10;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(37px);
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(92px);
    user-select: none;
  }

  &__item-value {
    width: 33%;
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    text-align: center;
    @include small-subtitle();
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(30px);
    height: rem(30px);
    border-radius: 50%;
    border: $bold-border;
    color: $dark-color-op50;
    text-transform: uppercase;
    @include font-rem(18, 1, normal);
    cursor: pointer;

    &_disabled {
      opacity: 0.5;
      cursor: auto;
    }

  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: rem(17px);
  }

  &__menu-button {
    color: $primary-color;
    text-transform: uppercase;
    cursor: pointer;

    &_inverted {
      color: $dark-color-op50;
    }

    &_disabled {
      visibility: hidden;
    }
  }

  &_expanded {
    display: block;
  }

}