.dropdown {
  position: relative;

  &__content {
    box-sizing: border-box;
    width: 100%;
    padding: rem(7px) rem(7px) rem(13px) rem(15px);
    border: $bold-border;
    box-shadow: $thin-shadow;
    border-radius: 0 0 4px 4px;
    @include small-subtitle();
    background: #fff;
    position: absolute;
    display: none;
    z-index: 10;
  }

  &_expanded {
    display: block;
  }


  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(37px);
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(92px);
    user-select: none;
  }

  &__value {
    width: 33%;
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
    text-align: center;
    @include small-subtitle();
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1;
    width: rem(30px);
    height: rem(30px);
    border-radius: 50%;
    border: $bold-border;
    color: $dark-color-op50;
    text-transform: uppercase;
    @include font-rem(18, 1, normal);
    cursor: pointer;

    &_disabled {
      opacity: 0.5;
      cursor: auto;
    }

  }

  &__menu {
    display: flex;
    justify-content: space-between;
    margin-top: rem(17px);
  }

  &__menu-button {
    color: $primary-color;
    text-transform: uppercase;
    cursor: pointer;

    &_inverted {
      color: $dark-color-op50;
    }

    &_disabled {
      visibility: hidden;
    }
  }

}