.room-details {

  &__gallery {
    display: flex;
    justify-content: center;

    & img {
      display: block;
      max-width: 100%;
    }
  }

  &__slides {
    display: flex;
    flex-direction: column;
  }

  &__container {
    padding-top: rem(71px);
    padding-bottom: rem(30px);
    display: flex;
    justify-content: space-between;

    @media (max-width: $screen-md) {
      display: block;
      padding-top: rem(40px);
    }
  }

  &__info {
    box-sizing: border-box;
    max-width: rem(721px);
    padding-right: 10px;

    @media (max-width: $screen-md) {
      max-width: 100%;
      padding-right: 0;
    }

  }

  &__reservation {
    @media (max-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__raw {
    margin-bottom: rem(33px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    @include text();
    width: 48%;
    padding-right: 8px;

    @media (max-width: $screen-xs) {
      width: auto;
      padding: 0;
      margin-bottom: rem(20px);
    }
  }

  &__subtitle {
    @include subtitle();
    margin-bottom: rem(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_with-left-space {
      margin-left: rem(20px);
    }
  }

  &__feedback {
    margin-bottom: rem(33px);
  }

  &__feedback-amount {
    color: $dark-color-op50;
    font-family: $base-font;
    @include font-rem(14, 24, normal);
  }

  &__comment {
    margin-bottom: rem(23px);
  }
}