//-
  options.type - type of input (string), default - 'text'
  options.label - text of label (string)
  options.name - name, attr of input (string)
  options.required - required (boolean)
  options.placeholder - placeholder (string)
  options.date - добавить класс и паттерн для даты (boolean)

mixin input(options = {})
  -
    let classes = 'input__field';
    classes += options.date ? ' js-date' : '';
    let pattern = options.date ? '[0-9]{2}\.[0-9]{2}\.[0-9]{4}' : false;
    let type = options.type ? options.type : 'text';

  .input
    if options.label
      label.input__label !{options.label}
        input(
              class = classes,
              type = type,
              name = options.name,
              placeholder = options.placeholder,
              required = options.required,
              pattern = pattern,
              value = options.value
            ).input__field_offset
    else
      input(
            class = classes,
            type = type,
            name = options.name,
            placeholder = options.placeholder,
            required = options.required,
            pattern = pattern,
            value = options.value
          )


