.input {
  position: relative;
  width: 100%;

  &__label {
    @include small-subtitle;
  }

  &__inner {
    position: relative;
  }

  &__button {
    position: absolute;
    top:0;
    right: 0;
    width: rem(44px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-color-op50;
    cursor: pointer;
    user-select: none;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    height: rem(44px);
    padding: 0 rem(45px) 0 rem(14px);
    @include text;
    border: $light-border;
    border-radius: $border-radius;
    outline: none;

    &::placeholder {
      color: $dark-color-op25;
      @include font-rem(14, 18, normal);
    }

    &:hover, &:focus {
      border: $bold-border;
    }

    &_dropdown {
      cursor: pointer;
      user-select : none;
    }

    &_expanded {
      border: $bold-border;
      border-radius: $border-radius $border-radius 0 0;
    }


  }
}
