.input {
  width: 100%;
  @include text;

  &__label {
    @include small-subtitle;
    display: block;
    width: 100%;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    height: rem(44px);
    padding: 0 rem(14px);
    line-height: rem(44px);
    border: $light-border;
    border-radius: $border-radius;
    outline: none;

    &_offset {
      margin-top: rem(5px);
    }

    &::placeholder {
      font-family: $base-font;
      color: $dark-color-op25;
      font-style: normal;
      font-size: rem(14px);
      line-height: rem(44px);
    }

    &:hover, &:focus {
      border: $bold-border;
    }

  }
}
