//-
    options.rate - оценка (string or number)
    options.disabled - неактивное состояние кнопки (boolean)

mixin rate-button(options = {})

  div.rate-button
    form
      fieldset(disabled= options.disabled).rate-button__inner

        - var v = 5, check;
          while v > 0
            - check = v == +options.rate ? 'checked' : false
            input.rate-button__input(type="radio", name="rating", value= v--, checked= check)
            span.rate-button__label.material-icons
