.rate-button {
  font-family: 'Material Icons';
  font-size: rem(24px);
  line-height: 1;
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;

  &__inner {
    display: block;
    flex-direction: row-reverse;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;

    &:enabled:hover .rate-button__label{
      opacity: 0.5;
    }
  }

  &__input {
    box-sizing: border-box;
    width: rem(24px);
    height: rem(24px);
    display: block;
    position: absolute;
    line-height: 1;
    right: 0;
    opacity: 0;
    z-index: 10;
    cursor: pointer;

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i + 1}) {
        right: #{$i * rem(24px)};
      }
    }

    &:checked ~ .rate-button__label:after,
    &:enabled:hover ~ .rate-button__label:after {
      content: 'star';
    }

    &:enabled:hover ~ .rate-button__label {
      opacity: 1;
    }

    &:active + .rate-button__label {
      transform: scale(1.5);
    }

    &:disabled {
      cursor: default;
    }
  }

  &__label {
    width: rem(24px);
    height: rem(24px);
    display: block;
    float: right;
    overflow: hidden;
    transition: opacity 0.3s ease, scale 0.5s ease-out;
    cursor: pointer;

    &:after {
      content: 'star_border';
      background: $primary-gradient;
      background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+  */
        color: $primary-color;
        background: #fff;
        background-clip: none;
      }
    }
  }
}
