.ui-page {
  color: $base-font-color;
  font-family: $base-font;
  @include font-rem(14, 24, normal);
  &_bg_gray {
    background-color: #E5E5E5;
  }

  &__wrapper {
    box-sizing: border-box;
    max-width: 1440px;
    padding: 30px 30px 0;
    margin: 0 auto;
  }

  &__header {
    box-sizing: border-box;
    max-width: 1440px;
    height: 150px;
    padding: 30px 30px 0;
    margin: 0 auto;
  }

  &__big-section {
    margin-top: 66px;
    display: flex;
    @media screen and (max-width: $screen-lg) {
      display: block;
    }
  }

  &__section {
    margin-bottom: 40px;;
  }

  &__box {
    box-sizing: border-box;
    width: 50%;
    padding-left: 120px;
    @media screen and (max-width: $screen-lg) {
      max-width: 50%;
      margin: 0 auto;
      padding: 0;
    }

    &_right {
      margin-left: 11px;
      @media screen and (max-width: $screen-lg) {
        margin: 50px auto;
      }
    }
  }

  &__cards-container{
    max-width: 1160px;
    margin: 0 auto;
    background: #fff;
    min-height: 1000px;
  }


}