.room-search{
  box-sizing: border-box;
  width: rem(380px);
  padding: rem(39px) rem(29px) rem(29px);
  background: $default-color;
  border-radius: $border-radius;
  border: $thin-border;
  box-shadow: $bold-shadow;
  font-family: $base-font;

  &__title {
    @include title;
  }

  &__dates {
    margin-top: rem(20px);
  }

  &__guests {
    margin-top: rem(21px);
  }

  &__button{
    margin-top: rem(31px);
  }
}




