include ../input/input
include ../button/button
include ../date-dropdown/date-dropdown
include ../dropdown/dropdown

mixin room-search()
  form.room-search
    h2.room-search__title Найдём номера под ваши пожелания
    div.room-search__dates
      +date-dropdown()
    div.room-search__guests
      +dropdown({label: 'Гости', inputName: 'total-guests', placeholder: 'Сколько гостей', role: 'guests',
                items: [
                  {title: 'Взрослые', inputName: 'adults', value: 0},
                  {title: 'Дети', inputName: 'children', value: 0},
                  {title: 'Младенцы', inputName: 'infants', value: 0}
                ]})
    div.room-search__button
      +button({name: 'подобрать номер', type: 'submit'})
