.room-search{
  box-sizing: border-box;
  max-width: 380px;
  padding: 40px 30px 30px;
  background: $default-color;
  border-radius: $border-radius;
  border: $thin-border;
  box-shadow: $thin-shadow;
  font-family: $base-font;

  &__title {
    @include title;
  }

  &__dates {
    display: flex;
    justify-content: space-between;
    margin-top: rem(20px);
  }

  &__box {
    width: 47.17%;
  }

  &__guests {
    margin-top: rem(20px);
  }

  &__button{
    margin-top: rem(31px);
  }
}




