include ../input/input
include ../button/button
include ../dropdown/dropdown

mixin room-search()
  form.room-search
    h2.room-search__title Найдём номера под ваши пожелания
    div.room-search__dates
      div.room-search__box
        +input({label: 'прибытие', name: 'check-in', placeholder: 'ДД.ММ.ГГГГ', required: true, more: true, date: true})
      div.room-search__box
        +input({label: 'выезд', name: 'check-out', placeholder: 'ДД.ММ.ГГГГ', required: true, more: true, date: true})
    div.room-search__guests
      +input({label: 'гости', name: 'number-guests', placeholder: 'Сколько гостей', required: true, dropdown: true})
        block dropdown
          +dropdown()
    div.room-search__button
      +button({name: 'подобрать номер', type: 'submit'})
