.login-form{
  box-sizing: border-box;
  max-width: rem(380px);
  width: 100%;
  padding: rem(39px) rem(29px) rem(31px);
  background: $default-color;
  border-radius: $border-radius;
  border: $thin-border;
  box-shadow: $bold-shadow;
  font-family: $base-font;

  &__title {
    @include title;
    margin-bottom: rem(20px);
  }

  &__input {
    margin-bottom: rem(10px);
  }

  &__button{
    margin-top: rem(20px);
  }

  &__user-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(30px);
    color: #000;
    @include font-rem(14, 18, normal);
  }

}
