mixin button(options)
  -
    var classes = "btn"
    classes += options.theme == "light" ? " btn_light" : ""
    classes += options.type ? " btn_" + options.type : ""

  button(class= classes)= options.name
