html {
  font-size: $default-font-size;

  @media (max-width: $screen-sm) {
    font-size: $default-font-size - 1;
  }

  @media (max-width: $screen-xs) {
    font-size: $default-font-size - 2;
  }

}

.page {
  @include text();

  &_hidden {
    overflow: hidden;
  }

  &__title {
    @include title();
  }

  @media (max-width: $screen-sm) {
    padding-top: 50px;
    position: relative;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: rem(24px);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
