// px to rem
@function rem($pixels, $context: $default-font-size) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

// Remove the unit of a length
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Convert font-size to rem, line-height to fraction or 1, and optional set font-weight
@mixin font-rem($size, $line, $weight: normal) {
  @if $weight { font-weight: $weight; }
  @if $line == 1 {
    line-height: 1;
  } @else if $line {
    line-height: strip-units($line) / $size;
  }
  font-size: rem($size);
}


@mixin title {
  margin: 0;
  color: $base-font-color;
  font-family: $title-font;
  @include font-rem(24, 30px, bold);
}

@mixin subtitle {
  margin: 0;
  color: $base-font-color;
  font-family: $title-font;
  @include font-rem(19, 24, bold);
}

@mixin small-subtitle {
  margin: 0;
  color: $base-font-color;
  font-family: $base-font;
  text-transform: uppercase;
  @include font-rem(12, 15, bold);
}

@mixin text {
  margin: 0;
  color: $dark-color-op75;
  font-family: $base-font;
  @include font-rem(14, 24, normal);
}

@mixin link {
  color: $dark-color-op50;
  font-family: $base-font;
  @include font-rem(14, 1, normal);
  text-decoration: none;
}


