//-
  options - массив с элементами меню (array)
  options.item[0].name - имя элемента меню (string)
  options.item[0].href - ссылка элемента меню (string)
  options.item[0].active - активная ссылка элемента меню (boolean)

include ../button/button

mixin menu(options = [])

  nav.menu
    .menu__button.material-icons.js-menu__button menu
    ul.menu__list
      each item in options
        -
          let linkClasses = 'menu__link'
          linkClasses += item.active ? ' menu__link_active' : ''

        if item.submenu
          li.menu__item
            a(href = item.href, class = linkClasses)= item.name
            span.menu__expander.material-icons.js-menu__expander expand_more
            ul.menu__submenu
              each subitem in item.submenu
                li
                  a(href = subitem.href, class= "menu__link")= subitem.name
        else
          li.menu__item
            a( href= item.href, class= linkClasses)= item.name

