extends ./head
include ../components/header/header
include ../components/footer/footer

block content
  - const data = self.htmlWebpackPlugin.options.getData("rus")

  body(class="page")
    +header({menuItems: data.header.menuItems, buttons:data.header.buttons})
    block main
    +footer(data.footer)

