//-
    options.value - количество лайков (string or number)
    options.liked - поставлен лайк (boolean)

mixin like-button(options = {})
  button.like-button.js-like-button(class = options.liked && 'like-button_liked')
    .like-button__inner
      .like-button__icon.material-icons
      .like-button__value= options.value
