include ../room-search/room-search

mixin promo(options)

  .promo
    .container
      .promo__search
        +room-search()
      .promo__slogan
        |Лучшие номера для вашей работы,<br> отдыха и просто вдохновения
