extends ../../templates/base
include ../../components/room-search/room-search

block title
  title= "Landing page"

block main
  main.landing
    .container.landing__container
      .landing__search
        +room-search()
      .landing__slogan
        |Лучшие номера для вашей работы,<br> отдыха и просто вдохновения
