.landing {
  box-sizing: border-box;
  padding-top: rem(70px);
  height: 830px;
  background: url('../pages/index/img/bg/landing_bg.jpg') center/cover no-repeat;

  &__slogan {
    @include text;
    text-align: right;
    position: absolute;
    bottom: 21px;
    right: 4px;
  }
}