.landing {
  box-sizing: border-box;
  padding-top: rem(70px);
  height: rem(830px);
  background: url('../pages/index/img/bg/landing_bg.jpg') center/cover no-repeat;

  &__search {
    @media (max-width: $screen-xs) {
      display: flex;
      justify-content: center;
    }
  }

  &__slogan {
    @include text;
    text-align: right;
    position: absolute;
    bottom: 21px;
    right: 8px;
  }
}