.radio-button {
  display: flex;
  align-items: center;
  line-height: 1;

  &__input {
    display: none;
  }

  &__label {
    position: relative;
    padding: rem(1px) 0 rem(1px) rem(30px);
    min-height: rem(18px);
    display: flex;
    align-items: center;
    color: $dark-color-op50;
    font-size: rem(14px);
    line-height: 1.3;
    font-weight: normal;
    cursor: pointer;

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: rem(20px);
      height: rem(20px);
      border-radius: 50%;
      border: $light-border;
    }

    &:after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: rem(4px);
      top: rem(4px);
      width: rem(12px);
      height: rem(12px);
      border-radius: 50%;
      background: $primary-gradient;
      opacity: 0;
      transition: all 0.3s;
    }
  }
  &__input:checked + &__label {
    color: $dark-color-op75;
  }
  &__input:checked + &__label:after {
    opacity: 1;
  }
  &__input:checked + &__label:before {
    border-color: $primary-color;
  }
}


