.icon-link {
  @include small-subtitle();
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.5;
  }

  &_inverted {
    color: $dark-color-op50;
  }
}