extends ./layout/head
include ../components/ui-logo/ui-logo
include ../components/room-search/room-search
include ../components/room-reservation/room-reservation
include ../components/registration-form/registration-form
include ../components/login-form/login-form
include ../components/room-preview/room-preview


block title
  title= "Cards"
block styles
  link(rel="stylesheet", href="css/ui.css")

block content
  body(class="ui-page ui-page_bg_gray")
    .ui-page__header
      +ui-logo()

    .ui-page__cards-container
      div
        div.ui-page__card
          +room-search()
        div.ui-page__card
          +registration-form()
      div
        div.ui-page__card
          +room-reservation()
        div.ui-page__card
          +login-form()
      div
        div.ui-page__card.calendar
        div.ui-page__card
          +room-preview()
        div.ui-page__card
          +room-preview()



    script(src="js/main.js")
    script
      include ./js/cards.js