extends ./layout/head
include ../components/ui-logo/ui-logo
include ../components/room-search/room-search
include ../components/room-reservation/room-reservation

block title
  title= "Cards"
block styles
  link(rel="stylesheet", href="css/ui.css")

block content
  body(class="ui-page ui-page_bg_gray")
    .ui-page__header
      +ui-logo()

    .ui-page__cards-container
      div
        +room-search()
      div
        +room-reservation()
      div.calendar

    script(src="js/main.js")
    script
      include ./js/cards.js