extends ./layout/head
include ../components/ui-logo/ui-logo
include ../components/ui-palette/ui-palette
include ../components/ui-typeface/ui-typeface

block title
  title= "Colors & Type"
block styles
  link(rel="stylesheet", href="../css/ui.css")

block content
  body(class="ui-page")
    .ui-page__wrapper
      +ui-logo()
      section.ui-page__big-section
        .ui-page__box
          +ui-palette()
        .ui-page__box.ui-page__box_right
          +ui-typeface()