extends ./layout/head
include ../components/ui-logo/ui-logo
include ../components/input/input
include ../components/button/button
include ../components/checkbox-button/checkbox-button
include ../components/dropdown/dropdown
include ../components/date-picker/date-picker

block title
  title= "Form Elements"
block styles
  link(rel="stylesheet", href="css/ui.css")

block content
  body(class="ui-page")
    .ui-page__wrapper
      +ui-logo()
      .form-elements
        .form-elements__column

          .form-elements__item
            .form-elements__header
              .form-elements__title Text Field
              .form-elements__descr Default
            +input({type: 'email', placeholder: 'Email'})

          .form-elements__item
            .form-elements__header
              .form-elements__title Text Field
              .form-elements__descr Hover / Focus
            +input({value: 'This is pretty awesome'})

          .form-elements__item
            .form-elements__header
              .form-elements__title Dropdown
              .form-elements__descr Default
            +dropdown({label: ' ', inputName: 'total-guests', placeholder: 'Сколько гостей',
                      items: [
                        {title: 'Взрослые', inputName: 'adults', value: 0},
                        {title: 'Дети', inputName: 'children', value: 0},
                        {title: 'Младенцы', inputName: 'infants', value: 0}
                      ]})

          .form-elements__item.form-elements__item_large-indent
            .form-elements__header
              .form-elements__title masked text field
              .form-elements__descr Default
            +input({placeholder: 'ДД.ММ.ГГГГ', date: true})

          .form-elements__item.form-elements__item_large-indent
            +date-picker()

          .form-elements__item.form-elements__item_large-indent
            +date-picker({singleInput: true, label: 'filter date dropdown', range: '19 авг - 23 авг'})

        .form-elements__column
          .form-elements__item.form-elements__item_large-indent
            .form-elements__header
              .form-elements__title Checkbox Buttons
            +checkbox-button({label: 'Можно курить', name: 'smoking-allowed'})
            +checkbox-button({label: 'Можно с питомцами', name: 'animals-allowed', checked: true})
            +checkbox-button({label: 'Можно пригласить гостей<br>(до 10 человек)', name: 'guests-allowed', checked: true})
        .form-elements__column column 3


    script(src="js/main.js")
