extends ./layout/head
include ../components/ui-logo/ui-logo
include ../components/header/header
include ../components/footer/footer

block title
  title= "Headers & Footers"
block styles
  link(rel="stylesheet", href="css/ui.css")

block content
  - const data = self.htmlWebpackPlugin.options.getData()

  body(class="ui-page ui-page_bg_gray")
    .ui-page__header
      +ui-logo()
    section.ui-page__section
      +header({menuItems: data.header.menuItems})
    section.ui-page__section
      +header({menuItems: data.header.menuItems, login: true})
    section.ui-page__section
      +footer(data.footer)

