.ui-palette {
  &__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__square {
    width: 70px;
    height: 70px;
    border-radius: 6px;

    &_color {

      &_dark {
        background: $dark-color;
      }
      &_purple {
        background: $primary-color;
      }
      &_green {
        background: $success-color;
      }
    }

    &_op75 {
      background: $dark-color-op75;
    }
    &_op50 {
      background: $dark-color-op50;
    }
    &_op25 {
      background: $dark-color-op25;
    }
    &_op5 {
      background: $dark-color-op5;
    }
  }

  &__descr {
    margin-left: 40px;
  }

  &__title {
    margin: 7px 0 0;
    color: $base-font-color;
    font-family: $title-font;
    @include font-rem(19, 29, bold);
  }

  &__color-hex {
    margin: 0;
    color: $base-font-color;
    font-family: $title-font;
    @include font-rem(19, 29, normal);
  }
}