include ../logo/logo
include ../menu/menu
include ../user-bar/user-bar

mixin header(options)

  header.header
    .container.header__container
      .header__logo
        +logo()
      .header__menu
        +menu(options.menuItems)
      .header__user-bar
        +user-bar({login: options.login, buttons: options.buttons})


