mixin ui-typeface
  div.ui-typeface
    div.ui-typeface__row
      span.ui-typeface__alias.ui-typeface__alias_title H1
      h1.ui-typeface__title This one is the sub-section or<br>widget title
    div.ui-typeface__row
      span.ui-typeface__alias.ui-typeface__alias_subtitle H2
      h2.ui-typeface__subtitle Next one is the item title inside<br>widgets
    div.ui-typeface__row
      span.ui-typeface__alias.ui-typeface__alias_small-subtitle H3
      h3.ui-typeface__small-subtitle This is a label or CTA text
    div.ui-typeface__row
      span.ui-typeface__alias.ui-typeface__alias_text Body
      p.ui-typeface__text This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.