.footer {
  background-color: #fff;
  @include text;

  &__top-wrapper {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  }

  &__top-section {
    padding: 100px 0 83px;
    display: flex;
    justify-content: space-between;
  }

  &__left-column {
    width: 22.42%;

    @media (max-width: $screen-lg) {
      width: 100%;
      text-align: center;
    }

  }

  &__right-column {
    width: 22.42%;

    @media (max-width: $screen-lg) {
      display: none;
    }
  }

  &__central-column {
    display: flex;
    justify-content: space-between;
    width: 48.5%;

    @media (max-width: $screen-lg) {
      display: none;
    }

  }

  &__slogan {
    margin: rem(10px) 0;
  }

  &__title {
    @include small-subtitle;
    margin-top: 4px;
  }

  &__munu-item {
    width: 29%;
  }

  &__list {
    margin: rem(18px) 0 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: rem(14px);
    list-style-type: none;
  }

  &__link {
    color: $dark-color-op50;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subscribe-text {
    margin: rem(19px) 0 0;
  }

  &__subscribe-form {
    margin-top: rem(22px);
  }

  &__bottom-wrapper {
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  }

  &__bottom-section {
    min-height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-bar {
    display: flex;
    align-items: center;
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: rem(20px);
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }
}