mixin room-info(options)
  - if (!options) options = [true, true, true];

  .room-info

    if options[0]
      .room-info__item
        span.room-info__icon.material-icons insert_emoticon
        .room-info__descr
          h3.room-info__subtitle Комфорт
          | Шумопоглощающие стены

    if options[1]
      .room-info__item
        span.room-info__icon.material-icons location_city
        .room-info__descr
          h3.room-info__subtitle Удобство
          | Окно в каждой из спален

    if options[2]
      .room-info__item
        span.room-info__icon.material-icons whatshot
        .room-info__descr
          h3.room-info__subtitle Удобство
          | Номер оснащён камином





