.room-info {
  max-width: rem(280px);

  &__item {
    display: flex;
    color: $dark-color-op75;
    padding: rem(20px) 0;
    border-top: 1px solid rgba(31, 32, 65, 0.1);

    &:first-child {
      border-top: none;
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }


  &__icon {
    font-size: rem(48px);
    line-height: 1;
    background: $primary-gradient;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+  */
      color: $primary-color;
      background: #fff;
      background-clip: none;
    }
  }

  &__descr {
    @include text();
    padding-left: rem(10px);
  }

  &__subtitle {
    margin: 0;
    font-size: rem(14px);
    line-height: inherit;
    font-weight: bold;
  }

}