.room-preview {
  box-sizing: border-box;
  width: rem(270px);
  border-radius: $border-radius;
  background: $default-color;
  box-shadow: $thin-shadow;

/* carousel */
  &__carousel {
    position: relative;
    width: 100%;
    max-height: rem(151px);
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;

    & img {
      max-width: 100%;
      display: block;
    }

    &:hover .room-preview__prev,  &:hover .room-preview__next {
      opacity: 1;
    }
  }

  &__slide {
    animation-name: fade;
    animation-duration: 1s;

    @keyframes fade {
      from {
        opacity: 0.1;
      }
      to {
        opacity: 1;
      }
    }
  }

  &__prev, &__next {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(42px);
    height: 100%;
    @include font-rem(24, 1, normal);
    color: $default-color;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;

    @media (max-width: $screen-md) {
      opacity: 1;
    }

  }

  &__prev {
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__next {
    right: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  }

  &__prev-icon {
    transform: rotate(90deg);
  }

  &__next-icon {
    transform: rotate(-90deg);
  }

  &__dots {
    position: absolute;
    right: rem(15px);
    bottom: rem(15px);
    line-height: 1;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }

  &__dot {
    display: block;
    box-sizing: border-box;
    margin-left: rem(3px);
    width: rem(8px);
    height: rem(8px);
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $default-color;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
    cursor: pointer;

    &_active {
      background: $default-color;
    }
  }


/* info */
  &__info {
    display: flex;
    justify-content: space-between;
    padding: rem(20px) rem(17px) rem(10px) rem(20px);
  }

  &__number {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

  }

  &__title {
    @include subtitle;
    font-weight: bold;
    text-decoration: none;

    &_smaller {
      @include font-rem(14, 17, bold);
    }
  }

  &__class {
    @include small-subtitle;
    color: $primary-color;
    margin-left: rem(6px);
  }

  &__price {
    color: $dark-color-op50;
    font-size: rem(14px);
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
  }

  &__price-descr {
    font-weight: normal;
    font-size: rem(12px);
  }

/* rating */
  &__rating {
    display: flex;
    justify-content: space-between;
    padding: rem(8px) 0 rem(19px);
    margin: 0 rem(20px);
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__reviews {
    color: $dark-color-op50;
    font-size: rem(14px);
    line-height: 1.5;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
  }

  &__reviews-descr {
    font-weight: normal;
    margin-left: rem(4px);
  }
}


